body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.38)), url("background 3 image.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}